* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    color: #000;
    text-decoration: none;
  }
  
  body {
    font-family: "Roboto", sans-serif;
  }
  
  .sidebar {
    width: 4rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 100;
    cursor: pointer;
    background: #4caf50;
    transition: 0.5s;
    overflow: hidden;
  }
  
  .sidebar:hover {
    width: 12rem;
  }
  
  .brand {
    text-align: center;
    font-size: 1.4rem;
    padding: 1rem 0;
    color: #000;
  }
  
  .brand:hover {
    background: #004a00;
  }
  
  .brand span {
    display: none;
  }
  
  .nav-list {
    list-style: none;
  }
  
  .nav-item {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-item:hover {
    background: #004a00;
  }
  
  .nav-item a {
    position: relative;
    white-space: nowrap;
    display: flex;
    gap: 1rem;
  }
  
  .nav-item__icon {
    margin-right: 10px;
    position: relative;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .nav-item__text {
    display: none;
    font-size: 15px;
    color: #000;
    text-transform: uppercase;
    margin-left: 10px;
  }

  .nav-item__text__separate{
    margin-bottom: 15px;
  }
  
  .avatar {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    font-weight: 700;
  }
  
  .logout {
    margin-left: 0.2rem;
  }
  
  .sidebar:hover .brand span {
    display: inline;  
  }
  
  .sidebar:hover .nav-item {
    justify-content: start;
  }
  
  .sidebar:hover .nav-item__text {
    display: flex;
    align-items: center;
  }